.idea
__pycache__
mnist_png

Building_your_Deep_Neural_Network_Step_by_Step_v8a.ipynb
classifies_zeros.ipynb
cnn.ipynb
cnn_old.ipynb
load_dataset.ipynb
load_dataset_f_test.ipynb
reference.py
cuda_test.ipynb
load_dataset_win.py
test.ipynb
works.ipynb